.form__container {
  background-color: white;
  color: black;
  height: 330px;
  width: 430px;
  border-radius: 10px;
  position: relative;
  margin-top: 195px;
}

@media screen and (max-width: 580px) {
  .form__container {
    width: 282px;
    height: 322px;
    margin-top: 123px;
  }
}
