.profile__add {
  background-color: black;
  border: 1px solid white;
  height: 50px;
  max-width: 150px;
  width: 100%;
  margin-left: auto;
}

@media screen and (max-width: 600px) {
  .profile__add {
    max-width: 282px;
    margin: 0 auto;
  }
}
