.logo {
  background-image: url(../../images/logo.svg);
  background-repeat: no-repeat;
  background-size: contain;
  height: 33px;
  max-width: 173px;
  width: 100%;
  display: block;
}

@media screen and (max-width: 900px) {
  .logo {
    margin-left: 27px;
  }
}

@media screen and (max-width: 480px) {
  .logo {
    max-width: 126px;
    height: 24px;
  }
}
