.profile__desc {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
}

@media screen and (max-width: 780px) {
  .profile__name {
    font-size: 22px;
  }
}

@media screen and (max-width: 600px) {
  .profile__desc {
    font-size: 14px;
    line-height: 17px;
  }
}
