.grid-item__like {
  background-image: url(../../images/like.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  border: none;
  height: 19px;
  width: 21px;
}
