.close {
  background-image: url(../../images/close.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  color: white;
  background-color: transparent;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
}

@media screen and (max-width: 580px) {
  .close {
    width: 26px;
    height: 26px;
    right: 0;
    top: -26px;
  }
}
